Page background 
body {
  background-color: var(--c-background-color);
  color: var(--base-font-color);
  margin: 0;
  font-family: sans-serif;
}

Header and Footer styling
header,
footer {
  background-color: var(--c-background-highlights);
  color: var(--base-font-color);
  padding: 1rem;
}

Main content text color
main {
  color: var(--base-font-color);
  padding: 1rem;
}

-Article links
article a {
  color: var(--c-magenta);
  text-decoration: none;
}

article a:hover {
  color: var(--c-orange);
  text-decoration: underline;
}

-Header Styling-
header {
  background-color: var(--c-background-highlights);
  color: var(--base-font-color);
  text-align: center;
  font-size: 150%;
  padding: 1rem;
}

header h1 {
  color: var(--c-yellow);
}

Article Subsections
article h3,
article p {
  border: 3px solid var(--c-cyan);
  padding: 10px;
  margin-bottom: 20px;
}

Navigation Styling
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}