/* Page background */
body {
  background-color: var(--c-background-color);
  color: var(--base-font-color);
  margin: 0;
  font-family: sans-serif;
}

/* Header and Footer styling */
header,
footer {
  background-color: var(--c-background-highlights);
  color: var(--base-font-color);
  padding: 1rem;
}

/* Main content text color */
main {
  color: var(--base-font-color);
  padding: 1rem;
}

/* Article links */
article a {
  color: var(--c-magenta);
  text-decoration: none;
}

article a:hover {
  color: var(--c-orange);
  text-decoration: underline;
}